<h1> Edit Dream Journal </h1>

<%= render partial: "layouts/error", locals: {object: @dreamjournal}  %>

<%= form_for @dreamjournal do |f| %>
 <%= render partial: "form", locals: { in_the_partial: f } %>

  <%= f.submit "New Journal" %>
<% end %>