<h1> Show all Dream Journals </h1>


<% @dreamjournals.each do |dreamjournal| %>
<%= link_to dreamjournal.title, dream_journal_dreams_path(dreamjournal)%> 
<% end %>


<%= link_to "See recent Journals!", dream_journals_most_recent_path %>
